vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Jan 2006 00:31:20 -0000
vti_extenderversion:SR|4.0.2.2717
vti_cacheddtm:TX|23 Jan 2006 00:31:20 -0000
vti_filesize:IR|5483
vti_cachedlinkinfo:VX|S|menu.png S|form_header.png S|form.png
vti_cachedsvcrellinks:VX|FSUS|chat/menu.png FSUS|chat/form_header.png FSUS|chat/form.png
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|chat/chat.html
